.conteudo-principal-basedados {
    margin-left: 400px;
    padding: 20px;
}

.card-explicacaoGraficoEDA {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
