.conteudo-principal-saibamais {
    margin-left: 400px;
    padding: 20px;
}

/* CARROSSEL */

.container-carrossel-maior-noticia {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.wrapper-carrossel-noticia {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.carrossel-list-noticia .carrossel-item-noticia {
    list-style: none;
}

.carrossel-list-noticia .carrossel-item-noticia .carrossel-link-noticia {
    /* user-select: none; */
    display: block;
    background: linear-gradient(#fdcece, #fdcdcd, #fbbdbd);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transform: 0.2s ease;
}

.carrossel-list-noticia .carrossel-item-noticia .carrossel-link-noticia:hover {
    border-color: #AD0000;
}

.carrossel-list-noticia .carrossel-link-noticia .carrossel-imagem-noticia {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.carrossel-list-noticia .carrossel-link-noticia .carrossel-titulo-noticia {
    color: #ffffff; 
    padding: 8px 16px;
    font-size: 0.95rem;
    margin: 16px 0 18px;
    background-color: #AD0000;
    width: fit-content;
    border-radius: 50px;
}

.carrossel-list-noticia .carrossel-link-noticia .carrossel-noticia {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 500;
}

.carrossel-list-noticia .carrossel-link-noticia .carrossel-button-noticia {
    height: 35px;
    width: 35px;
    color: #000000;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: #f9f9f9;
    cursor: pointer;
    border: 2px solid #AD0000;
    transform: 0.4s ease;
}

.carrossel-list-noticia .carrossel-link-noticia .carrossel-button-noticia:hover {
    color: #ffffff;
    background: #AD0000;
}

.swiper-scrollbar {
    display: none;
}
